{deps, [
        {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", {branch, "master"}}},
        {erlang_env, ".*", {git, "https://github.com/andrzejsliwa/erlang_env.git", {branch, "master"}}}
       ]}.

{lib_dirs, ["deps"]}.

{clean_files, [
               "erl_crash.dump"
              ]}.

{escript_name, "script/db"}.
{escript_incl_apps,[epgsql, erlang_env]}.

{erl_opts, [debug_info
            %% warnings_as_errors
           ]}.
